.p {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.main{
    margin-top: 100px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 341px;
}


.left h1 {
  font-size: 64px;
  padding-top: 15px;
}

.right{
  margin-bottom: 100px;
}

.right div h3{
  color: #000000;
  font-size: 24px;
  margin-bottom: 28px;
}

.right div p{
  font-size: 20px;
  margin-bottom: 60px;
}

.block {
  width: 100%;
  max-width: 1332px; 
  height: 672px; 
  border-radius: 15px;
  overflow: hidden;
  margin: 40px auto; 
}

.mapcontainer {
  position: relative; 
  overflow: hidden;
  height: 100%; 
}

.block iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

@media screen and (max-width: 450px) {

.wrapper {
  flex-direction: column;
  gap: 0;
}


.left h1 {
  font-size: 28px;
  padding-top: 15px;
}

.right{
  margin-top: 32px;
  margin-bottom: 32px;
}

.right div h3{
  font-size: 20px;
  margin-bottom: 12px;
}

.right div p{
  font-size: 16px;
  margin-bottom: 24px;
}

.block { 
  height: 242px;
}
}