*{
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

.container{
  max-width: 1332px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
  background-color: white;
  color: #454545;
}

@media screen and (max-width: 450px){
  .container {
    max-width: 100%; 
    width: 100%;
    padding: 0 16px; 
}
}